.filter {
  min-width: 18.75vw;
  height: 400px;
}

.filter__item:not(:last-child) {
  margin-bottom: var(--gap);
}

.filter__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: transparent;
}

.filter__title {
  font-size: var(--fontSize-filter-title);
  font-weight: 900;
  line-height: var(--lineHeight-filter-title);
}

.filter__options--row {
  display: flex;
  overflow: hidden;
  border: 1px solid #D6D6D6;
}

.filter__options:first-of-type {
  border-radius: 4px 4px 0 0;
}

.filter__options:last-of-type {
  border-radius: 0 0 4px 4px;
  border-top: none;
}

.filter__option {
  flex-grow: 1;
}

.filter__option--mb:not(:last-child) {
  margin-bottom: 15px;
}

.filter__label {
  cursor: pointer;
  text-align: center;
}

.filter__label--btn {
  font-size: 14px;
  line-height: 50px;
  font-weight: 500;
  display: block;
  transition: background-color 0.2s ease;
}

.filter__label--any {
  font-size: 15px;
}

.filter__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter__input--btn:checked + .filter__label--btn{
  background-color: #FFCF26;
}

.filter__label--btn:hover {
  background-color: #FCDf77;
}

.filter__radio-mask {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 1px solid #777777;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: bottom;
}

.filter__option-title {
  font-size: var(--fontSize-filter-option);
  line-height: var(--lineHeight-filter-option);
  color: #3C3C3C;
}

.filter__input--radio:checked + .filter__radio-mask,
.filter__input--checkbox:checked + .filter__checkbox-mask {
  background-color: #FFE074;
}

.filter__input--radio:checked ~ .filter__option-title,
.filter__input--checkbox:checked ~ .filter__option-title {
  font-weight: 500;
}

.filter__input--radio:checked + .filter__radio-mask::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #3C3C3C;
}

.filter__checkbox-mask {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 1px solid #777777;
  border-radius: 2px;
  margin-right: 10px;
  vertical-align: bottom;
}

.filter__input--checkbox:checked + .filter__checkbox-mask {
  background-image: url("../../assets/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter__option-more {
  background-color: transparent;
  color: #4290C9;
  font-size: 16px;
  line-height: 1.1875;
}

.filter__option-more:hover {
  text-decoration: underline;
}