.filter {
  min-width: 240px;
}

.filter__item:not(:last-child) {
  margin-bottom: var(--gap);
}

.filter__name {
  margin-bottom: 20px;
}

.filter__options--row {
  display: flex;
  overflow: hidden;
  border: 1px solid #D6D6D6;
}

.filter__options--toggle {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.filter__item--accordion.filter__item--open .filter__options--toggle {
  max-height: 100%;
  visibility: visible;
}

.filter__name-icon {
  transition: transform 0.2s linear;
}

.filter__item--accordion.filter__item--open .filter__name-icon {
  transform: rotate(180deg);
}

.filter__options:first-of-type {
  border-radius: 4px 4px 0 0;
}

.filter__options:last-of-type {
  border-radius: 0 0 4px 4px;
  border-top: none;
}

.filter__option {
  flex-grow: 1;
}

.filter__option--mb:not(:last-child) {
  margin-bottom: 15px;
}

.filter__option--hidden {
  display: none;
}

.filter__label {
  cursor: pointer;
  text-align: center;
}

.filter__label--btn {
  font-size: 14px;
  line-height: 50px;
  font-weight: 500;
  display: block;
  transition: background-color 0.2s ease;
}

.filter__label--any {
  font-size: 15px;
}

.filter__input--btn:checked + .filter__label--btn{
  background-color: #FFCF26;
}

.filter__label--btn:hover {
  background-color: #FCDf77;
}

.filter__option-title {
  font-size: var(--fontSize-filter-option);
  line-height: var(--lineHeight-filter-option);
  color: #3C3C3C;
}

.filter__input--radio:checked ~ .filter__option-title,
.filter__input--checkbox:checked ~ .filter__option-title {
  font-weight: 500;
}