:root {
  --width-container: 1170px;
  --width-main: 870px;
  --width-filter: 270px;

  --card-info-padding: 15px 15px 20px;

  --gap: 30px;

  --border-rad: 4px;

  --body-background-color: #F4F4F4;
  --text-filter-color: #3C3C3C;
  --text-card-color: #000000;

  --fontSize-card-title: 18px;
  --fontSize-card-info: 14px;
  --fontSize-card-badges: 14px;

  --fontSize-filter-title: 18px;
  --fontSize-filter-option: 16px;

  --lineHeight-card-info: calc(16px / var(--fontSize-card-info));
  --lineHeight-card-title: calc(21px / var(--fontSize-card-title));

  --lineHeight-filter-title: calc(21px / var(--fontSize-filter-title));
  --lineHeight-filter-option: calc(18px / var(--fontSize-filter-option));
}